.experiences-sec1-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.header-section{
    position: absolute;
    top: 0;
    background: transparent;
    width: 100%;
}
body{
    margin: 0% !important;
    background-color: white !important;
}

#exp-inner-heading{
    font-size: 40px;
    color: white;
    margin-left: 45vh;
}
.experineces-intro-lines{
    display: block;
    text-align:center;
    position: relative;
    color: black;
    font-size: 15vh;
}
.experineces-intro-content{
    color: black !important;
    line-height: 2;
    font-size: 36px;
    font-family:serif;
}
.experiences-intro-section{
    margin-top: 10vh;
}

.inner-heading{
        margin-top: 26px;
        color: white;
        font-size: 4rem;
        font-weight: 100;
        margin-block: 13vh !important;
        padding-left: 42vh;
        float: left;
}
.fa-arrow-alt-circle-down:before {
        opacity: 0.8;
        font-size: 12vh;
        content: "\f358";
        display: flex;
        position: absolute;
        justify-content: right;
        margin-top: 65vh;
        margin-left: 95vh;
        color: white;
        font-family: 'Font Awesome 5 Pro';
        font-weight: 100;
}
.scroll-content{
    margin-left: -85vh;
    color: white;
    margin-top: 60vh;
    float: left;
    font-family: 'Roboto';
}