.gallery-img-section {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery{
    margin-top:30%;
    margin-bottom: 5%;
}
.gallery-images{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    right: 0;
    left: 0;
}

.gallery-image-content{
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 3rem 1.5rem;
    white-space: nowrap;
    
}
.gallery-head{
    background-image: url("../assets/Images/Gallery-Images/gallery-main-img.jpg");
    width:100%;
    height: 70%;
    position: absolute;
    top:0;
    left:0;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .inner-gallery-heading{
      font-weight: 300;
      color: #fff;
      font-size: 55px;
      display: block;
      font-family:system-ui;
      margin-left: 110px;
      margin-top: 160px;
  }
  body{
      width: 100%;
      margin: 0;
  }

  @media only screen and (max-width: 768px) {
    .gallery-img-section {
        display:grid;
        grid-template-columns: 1fr;
        margin: 0;
    }
    html,body{
        width: 100%;
    }
    .gallery-image-content{
        color: white;
        text-align: center;
        font-size: 22px;
        padding: 1rem 9.5rem;
        white-space: nowrap;
        
    }
    .gallery-images{
        margin-top: 340px;
    }
    .gallery-head{
        width: 130%;
        text-align: left;
    }
}