
#home-section4{
            background-image: url("https://discoverylandco.com/static/globe-usa.jpg");
            height: 278vh;
            width: 100%;
            z-index: 1;
            position: absolute;
            display: block;
}
.black-block{
            background-color: black;
            display: flex;
            width: 80%;
            float: right;
            z-index: 2;
            width: 650px;
            height: 600px;
            margin-top: 10vh;
}
.globe-top-img{
    margin-left: 15vh;
    margin-top: -16vh;
}


